head
    include ../partials/links
    script(src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0")

body
    .container
        div(class="modal fade", id="myModal")
            div(class="modal-dialog modal-dialog-centered")
                div(class="modal-content")
                    div(class="modal-header")
                        h4(class="modal-title") Şimdi Çalıştırılsın mı?
                        button(type="button", class="close", data-dismiss="modal") &times;
                    div(class="modal-body")
                        span(id="devname")
                        span  gece de çalıştırılabilir. Gece çalıştırırsanız daha az ücret ödersiniz.
                    div(class="modal-footer")
                        button(class="btn btn-primary confirm") Gece Çalıştır
                        button(class="btn btn-outline-primary decline") Şimdi Çalıştır
                        
        .row
            .col-sm-3
                h3  Daire
                h4  #{apartment}
            .col-sm-3
                h3  Şebeke Kullanımı
                h4  !{gridTotal} kWh
            .col-sm-3
                h3  Güneş Enerjisi Kullanımı
                h4  !{renewableTotal} kWh
            .col-sm-3
                h3  Fatura
                h4  #{bill.toFixed(2)} &#8378;
                

        .row
            .col-md-7
                select(class="form-control", name="p", id="periodicity", onchange="handleDropdownChange()")
                    option(value="daily") Günlük
                    option(value="monthly", selected=monthlySelected) Aylık
                canvas(id="line-chart")
            .col-md-5
                div(class="d-flex flex-wrap")
                    each obj in devices
                        .p-1
                            button(class="switch off" data-devname=obj.device.display data-atnight=`${obj.device.canRunAtNight}` data-pinno=`${obj.pinNo}`)
                                img(src=`/icons/${obj.device.iconName}-closed.png`)
                                img(src=`/icons/${obj.device.iconName}-opened.png` class="invisible")

    script.
        const modalConfirm = function(callback){
            $(".confirm").on("click", function(){
                callback(false)
                $("#myModal").modal('hide')
            })
            $(".decline").on("click", function(){
                callback(true)
                $("#myModal").modal('hide')
            })
        }
        
        async function handleDropdownChange(){
            const val = document.getElementById("periodicity").value
            const {pathname} = window.location
            window.location.href = `${pathname}?p=${val}`
        }

    script.
        document.querySelectorAll(".switch").forEach(function(elem){
            elem.addEventListener("click", async function(e){
                if(this.dataset.atnight==="true" && this.className.includes("off")){
                    document.getElementById("devname").innerText = this.dataset.devname
                    $("#myModal").modal("show")

                    modalConfirm((res)=>{
                        if(res){
                            this.classList.remove("off")
                            this.classList.add("on")
                            this.childNodes[0].classList.add("invisible")
                            this.childNodes[1].classList.remove("invisible")
                        }
                    })

                } else if(this.className.includes("off")){
                    this.classList.remove("off")
                    this.classList.add("on")
                    this.childNodes[0].classList.add("invisible")
                    this.childNodes[1].classList.remove("invisible")
                } else {
                    this.classList.remove("on")
                    this.classList.add("off")
                    this.childNodes[1].classList.add("invisible")
                    this.childNodes[0].classList.remove("invisible")
                }

                (async ()=>{
                    const rawResponse = await fetch("http://192.168.43.12", {
                        method: "POST",
                        mode: "no-cors",
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify({pin: this.dataset.pinno})
                    })
                })()
            })
        })
    
    script.
        new Chart(document.getElementById("line-chart"), {
            type: 'line',
            data: {
                labels: !{JSON.stringify(labels)},
                datasets: [{ 
                    data: !{JSON.stringify(grid)},
                    label: "Şebeke",
                    borderColor: "#2175fc",
                    pointBackgroundColor: "#2175fc",
                    backgroundColor: "#2175fc",
                    fill: false
                }, { 
                    data: !{JSON.stringify(renewable)},
                    label: "Güneş Enerjisi",
                    borderColor: "#40a6f5",
                    pointBackgroundColor: "#40a6f5",
                    backgroundColor: "#40a6f5",
                    fill: false
                }
                ]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
            });


