head
    include ../partials/links
    script(src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0")

body
    .container                   
        .row
            .col-sm-3
                h3  Daire
                h4  #{apartment}
            .col-sm-3
                h3  Şebeke Kullanımı
                h4
                    span#grid1 !{gridTotal} 
                    span  kWh
            .col-sm-3
                h3  Güneş Enerjisi Kullanımı
                h4  
                    span#solar1 !{renewableTotal} 
                    span  kWh
            .col-sm-3
                h3  Fatura
                h4
                    span#bill1 #{bill.toFixed(2)} 
                    span  &#8378;
                
        .row
            .col-md-7
                select(class="form-control", name="p", id="periodicity", onchange="handleDropdownChange()")
                    option(value="daily") Günlük
                    option(value="monthly", selected=monthlySelected) Aylık
                canvas(id="line-chart")
            .col-md-5
                div(class="d-flex flex-wrap")
                    each obj in devices
                        .p-1
                            button(class="switch off" data-devname=obj.device.display data-atnight=`${obj.device.canRunAtNight}` data-pinno=`${obj.pinNo}` data-pinno2=`${obj.pinNoo}`)
                                img(src=`/icons/${obj.device.iconName}-closed.png`)
                                img(src=`/icons/${obj.device.iconName}-opened.png` class="invisible")
        
        .row
            .col-md-7
                div
                    h3(class="table_header") Gece çalıştırılacak cihazlar
                
    
    script.
        async function handleDropdownChange(){
            const val = document.getElementById("periodicity").value
            const pathname = window.location.pathname

            const response = await fetch(`http://localhost:3000/get-data${pathname}`,{
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({val})
            })

            if(response.ok){
                const result = await response.json()
                chart.data.labels = result.labels
                chart.data.datasets[0].data = result.grid
                chart.data.datasets[1].data = result.renewable
                document.getElementById("bill1").innerText = `${result.bill.toFixed(2)}`
                document.getElementById("grid1").innerText = `${result.gridTotal}`
                document.getElementById("solar1").innerText = `${result.renewableTotal}`
                chart.update()
            }
        }

    script.
        const val = document.getElementById("periodicity").value
        const pathname = window.location.pathname
        setInterval(handleDropdownChange, 15000)

    script.
        const night = ["00:00", "01:00", "02:00", "03:00", "04:00", "05:00", "06:00", "07:00"] 
        const runAtNight = []
        document.querySelectorAll(".switch").forEach(function(elem){
            elem.addEventListener("click", function(e){
                e.stopPropagation()
                e.preventDefault()
                
                    if(this.className.includes("off")){
                        this.classList.remove("off")
                        this.classList.add("on")
                        this.childNodes[0].classList.add("invisible")
                        this.childNodes[1].classList.remove("invisible")
                    } else {
                        this.classList.remove("on")
                        this.classList.add("off")
                        this.childNodes[1].classList.add("invisible")
                        this.childNodes[0].classList.remove("invisible")
                    }

                    (async ()=>{
                        const rawResponse = await fetch("http://192.168.43.12", {
                            method: "POST",
                            mode: "no-cors",
                            headers: {
                                "Content-Type": "application/json"
                            },
                            body: JSON.stringify({pin: this.dataset.pinno})
                        })
                    })()
                
            })
        })
    
    script.
        const chart = new Chart(document.getElementById("line-chart"), {
            type: 'line',
            data: {
                labels: !{JSON.stringify(labels)},
                datasets: [{ 
                    data: !{JSON.stringify(grid)},
                    label: "Şebeke",
                    borderColor: "#2175fc",
                    pointBackgroundColor: "#2175fc",
                    backgroundColor: "#2175fc",
                    fill: false
                }, { 
                    data: !{JSON.stringify(renewable)},
                    label: "Güneş Enerjisi",
                    borderColor: "#40a6f5",
                    pointBackgroundColor: "#40a6f5",
                    backgroundColor: "#40a6f5",
                    fill: false
                }
                ]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
            });


