head
    include ../partials/links
    script(src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0")

body
    .container
        .row
            .col-sm-3
                h3  Daire
                h4  #{apartment}
            .col-sm-3
                h3  Şebeke Kullanımı
                h4  !{grid.reduce((a,b)=>a+b)} kWh
            .col-sm-3
                h3  Güneş Enerjisi Kullanımı
                h4  !{renewable.reduce((a,b)=>a+b)} kWh
            .col-sm-3
                h3  Fatura
                h4  59 &#8378;
                

        .row
            .col-md-7
                canvas(id="line-chart")
            .col-md-5
                div(class="d-flex flex-wrap")
                    each obj in devices
                        .p-1
                            button(class="switch off")
                                img(src=`/icons/${obj.device.iconName}-closed.png`)
                                img(src=`/icons/${obj.device.iconName}-opened.png` class="invisible")

    script.
        document.querySelectorAll(".switch").forEach(function(elem){
            elem.addEventListener("click", function(e){
                if(this.className.includes("off")){
                    this.classList.remove("off")
                    this.classList.add("on")
                    this.childNodes[0].classList.add("invisible")
                    this.childNodes[1].classList.remove("invisible")
                } else {
                    this.classList.remove("on")
                    this.classList.add("off")
                    this.childNodes[1].classList.add("invisible")
                    this.childNodes[0].classList.remove("invisible")
                }
            })
        })
    
    script.
        new Chart(document.getElementById("line-chart"), {
            type: 'line',
            data: {
                labels: !{JSON.stringify(labels)},
                datasets: [{ 
                    data: !{JSON.stringify(grid)},
                    label: "Şebeke",
                    borderColor: "#2175fc",
                    pointBackgroundColor: "#2175fc",
                    backgroundColor: "#2175fc",
                    fill: false
                }, { 
                    data: !{JSON.stringify(renewable)},
                    label: "Güneş Enerjisi",
                    borderColor: "#40a6f5",
                    pointBackgroundColor: "#40a6f5",
                    backgroundColor: "#40a6f5",
                    fill: false
                }
                ]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
            });


